{
  "openapi": "3.0.1",
  "info": {
    "title": "PosTechChallenge | v1",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://pos-tech-fiap-apim.azure-api.net"
    }
  ],
  "paths": {
    "/api/v1/Autenticacao/login": {
      "post": {
        "tags": [
          "Autenticacao"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginBodyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginBodyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LoginBodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/Autenticacao/alterar-senha": {
      "patch": {
        "tags": [
          "Autenticacao"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlterarSenhaBodyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AlterarSenhaBodyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AlterarSenhaBodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/clientes": {
      "post": {
        "tags": [
          "Cliente"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarClienteBodyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarClienteBodyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CriarClienteBodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/clientes/{id}": {
      "get": {
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarClienteBodyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarClienteBodyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarClienteBodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/clientes/cpf-cnpj/{cpfCnpj}": {
      "get": {
        "tags": [
          "Cliente"
        ],
        "parameters": [
          {
            "name": "cpfCnpj",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/Funcionario": {
      "post": {
        "tags": [
          "Funcionario"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarFuncionarioBodyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarFuncionarioBodyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CriarFuncionarioBodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Funcionario"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "Funcionario"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarFuncionarioBodyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarFuncionarioBodyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarFuncionarioBodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Funcionario"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/Funcionario/{id}": {
      "get": {
        "tags": [
          "Funcionario"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/Funcionario/cpf": {
      "get": {
        "tags": [
          "Funcionario"
        ],
        "parameters": [
          {
            "name": "cpf",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/Funcionario/nome": {
      "get": {
        "tags": [
          "Funcionario"
        ],
        "parameters": [
          {
            "name": "nome",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/ordens-servico/{ordemServicoId}/itens": {
      "post": {
        "tags": [
          "ItensOS"
        ],
        "parameters": [
          {
            "name": "ordemServicoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarItemOSBodyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarItemOSBodyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CriarItemOSBodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "ItensOS"
        ],
        "parameters": [
          {
            "name": "ordemServicoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/ordens-servico/{ordemServicoId}/itens/{id}": {
      "get": {
        "tags": [
          "ItensOS"
        ],
        "parameters": [
          {
            "name": "ordemServicoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "ItensOS"
        ],
        "parameters": [
          {
            "name": "ordemServicoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarItemOSBodyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarItemOSBodyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarItemOSBodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "ItensOS"
        ],
        "parameters": [
          {
            "name": "ordemServicoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/monitoramento/tempo-execucao-medio": {
      "get": {
        "tags": [
          "Monitoramento"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/orcamentos/os/{idOS}": {
      "get": {
        "tags": [
          "Orcamento"
        ],
        "parameters": [
          {
            "name": "idOS",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/orcamentos/os/{idOS}/calcular": {
      "post": {
        "tags": [
          "Orcamento"
        ],
        "parameters": [
          {
            "name": "idOS",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/orcamentos/os/{idOS}/enviar": {
      "post": {
        "tags": [
          "Orcamento"
        ],
        "parameters": [
          {
            "name": "idOS",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/orcamentos/os/{idOS}/responder": {
      "post": {
        "tags": [
          "Orcamento"
        ],
        "parameters": [
          {
            "name": "idOS",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponderOrcamentoBodyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponderOrcamentoBodyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResponderOrcamentoBodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/ordens-servico": {
      "post": {
        "tags": [
          "OrdemServico"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarOrdemServicoBodyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarOrdemServicoBodyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CriarOrdemServicoBodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "OrdemServico"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/NullableOfEStatusOrdemServico"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/ordens-servico/ordenado-por-status": {
      "get": {
        "tags": [
          "OrdemServico"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/ordens-servico/cliente/{idCliente}": {
      "get": {
        "tags": [
          "OrdemServico"
        ],
        "parameters": [
          {
            "name": "idCliente",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/ordens-servico/valor/{id}": {
      "get": {
        "tags": [
          "OrdemServico"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/ordens-servico/{id}": {
      "get": {
        "tags": [
          "OrdemServico"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "OrdemServico"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarOrdemServicoBodyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarOrdemServicoBodyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarOrdemServicoBodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "OrdemServico"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/ordens-servico/{id}/status": {
      "get": {
        "tags": [
          "OrdemServico"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "OrdemServico"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarStatusOrdemServicoBodyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarStatusOrdemServicoBodyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarStatusOrdemServicoBodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/pecas": {
      "post": {
        "tags": [
          "Pecas"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarPecaBodyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarPecaBodyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CriarPecaBodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Pecas"
        ],
        "parameters": [
          {
            "name": "estoqueBaixo",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limiteEstoqueBaixo",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/pecas/{id}": {
      "put": {
        "tags": [
          "Pecas"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarPecaBodyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarPecaBodyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarPecaBodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Pecas"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/pecas/{id}/estoque": {
      "patch": {
        "tags": [
          "Pecas"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AjustarEstoquePecaBodyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AjustarEstoquePecaBodyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AjustarEstoquePecaBodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/veiculos": {
      "post": {
        "tags": [
          "Veiculo"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarVeiculoBodyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CriarVeiculoBodyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CriarVeiculoBodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/veiculos/{id}": {
      "get": {
        "tags": [
          "Veiculo"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "Veiculo"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarVeiculoBodyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarVeiculoBodyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AtualizarVeiculoBodyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/veiculos/placa/{placa}": {
      "get": {
        "tags": [
          "Veiculo"
        ],
        "parameters": [
          {
            "name": "placa",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/clientes/{clienteId}/veiculos": {
      "get": {
        "tags": [
          "Veiculo"
        ],
        "parameters": [
          {
            "name": "clienteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AjustarEstoquePecaBodyRequest": {
        "required": [
          "quantidade"
        ],
        "type": "object",
        "properties": {
          "quantidade": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AlterarSenhaBodyRequest": {
        "type": "object",
        "properties": {
          "senhaAtual": {
            "type": "string"
          },
          "novaSenha": {
            "type": "string"
          },
          "confirmacaoSenha": {
            "type": "string"
          }
        }
      },
      "AtualizarClienteBodyRequest": {
        "required": [
          "nomeCompleto"
        ],
        "type": "object",
        "properties": {
          "nomeCompleto": {
            "type": "string"
          },
          "cpf": {
            "type": "string",
            "nullable": true
          },
          "cnpj": {
            "type": "string",
            "nullable": true
          },
          "telefone": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AtualizarFuncionarioBodyRequest": {
        "required": [
          "nome",
          "contato",
          "cargo",
          "valorHora"
        ],
        "type": "object",
        "properties": {
          "nome": {
            "type": "string"
          },
          "contato": {
            "type": "string"
          },
          "cargo": {
            "$ref": "#/components/schemas/ECargoFuncionario"
          },
          "valorHora": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AtualizarItemOSBodyRequest": {
        "required": [
          "tipoItem",
          "quantidadeItem"
        ],
        "type": "object",
        "properties": {
          "tipoItem": {
            "$ref": "#/components/schemas/ETipoItemOrdemServico"
          },
          "quantidadeItem": {
            "type": "integer",
            "format": "int32"
          },
          "idFuncionario": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "idPeca": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "AtualizarOrdemServicoBodyRequest": {
        "required": [
          "idCliente",
          "idVeiculo",
          "idFuncionario"
        ],
        "type": "object",
        "properties": {
          "idCliente": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "idVeiculo": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "idFuncionario": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AtualizarPecaBodyRequest": {
        "required": [
          "nome",
          "preco",
          "unidadeMedida",
          "quantidadeEstoque"
        ],
        "type": "object",
        "properties": {
          "nome": {
            "type": "string"
          },
          "marca": {
            "type": "string",
            "nullable": true
          },
          "codigo": {
            "type": "string",
            "nullable": true
          },
          "preco": {
            "type": "number",
            "format": "double"
          },
          "unidadeMedida": {
            "type": "integer",
            "format": "int32"
          },
          "quantidadeEstoque": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AtualizarStatusOrdemServicoBodyRequest": {
        "required": [
          "idFuncionario",
          "status"
        ],
        "type": "object",
        "properties": {
          "idFuncionario": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "$ref": "#/components/schemas/EStatusOrdemServico"
          }
        }
      },
      "AtualizarVeiculoBodyRequest": {
        "required": [
          "clienteId",
          "marca",
          "modelo",
          "placa",
          "anoModelo",
          "anoFabricacao",
          "kmEntrada"
        ],
        "type": "object",
        "properties": {
          "clienteId": {
            "type": "integer",
            "format": "int32"
          },
          "marca": {
            "type": "string"
          },
          "modelo": {
            "type": "string"
          },
          "placa": {
            "type": "string"
          },
          "cor": {
            "type": "string",
            "nullable": true
          },
          "anoModelo": {
            "type": "integer",
            "format": "int32"
          },
          "anoFabricacao": {
            "type": "integer",
            "format": "int32"
          },
          "kmEntrada": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CriarClienteBodyRequest": {
        "required": [
          "nomeCompleto"
        ],
        "type": "object",
        "properties": {
          "nomeCompleto": {
            "type": "string"
          },
          "cpf": {
            "type": "string",
            "nullable": true
          },
          "cnpj": {
            "type": "string",
            "nullable": true
          },
          "telefone": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CriarFuncionarioBodyRequest": {
        "required": [
          "nome",
          "contato",
          "cpf",
          "cargo",
          "valorHora",
          "senha",
          "confirmacaoSenha"
        ],
        "type": "object",
        "properties": {
          "nome": {
            "type": "string"
          },
          "contato": {
            "type": "string"
          },
          "cpf": {
            "type": "string"
          },
          "cargo": {
            "$ref": "#/components/schemas/ECargoFuncionario"
          },
          "valorHora": {
            "type": "integer",
            "format": "int32"
          },
          "senha": {
            "type": "string"
          },
          "confirmacaoSenha": {
            "type": "string"
          }
        }
      },
      "CriarItemOSBodyRequest": {
        "required": [
          "tipoItem",
          "quantidadeItem"
        ],
        "type": "object",
        "properties": {
          "tipoItem": {
            "$ref": "#/components/schemas/ETipoItemOrdemServico"
          },
          "quantidadeItem": {
            "type": "integer",
            "format": "int32"
          },
          "idFuncionario": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "idPeca": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "CriarOrdemServicoBodyRequest": {
        "required": [
          "idCliente",
          "idVeiculo",
          "idFuncionario"
        ],
        "type": "object",
        "properties": {
          "idCliente": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "idVeiculo": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "idFuncionario": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CriarPecaBodyRequest": {
        "required": [
          "nome",
          "preco",
          "unidadeMedida",
          "quantidadeEstoque"
        ],
        "type": "object",
        "properties": {
          "nome": {
            "type": "string"
          },
          "marca": {
            "type": "string",
            "nullable": true
          },
          "codigo": {
            "type": "string",
            "nullable": true
          },
          "preco": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "number",
            "format": "double"
          },
          "unidadeMedida": {
            "type": "integer",
            "format": "int32"
          },
          "quantidadeEstoque": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CriarVeiculoBodyRequest": {
        "required": [
          "clienteId",
          "marca",
          "modelo",
          "placa",
          "anoModelo",
          "anoFabricacao",
          "kmEntrada"
        ],
        "type": "object",
        "properties": {
          "clienteId": {
            "type": "integer",
            "format": "int32"
          },
          "marca": {
            "type": "string"
          },
          "modelo": {
            "type": "string"
          },
          "placa": {
            "type": "string"
          },
          "cor": {
            "type": "string",
            "nullable": true
          },
          "anoModelo": {
            "type": "integer",
            "format": "int32"
          },
          "anoFabricacao": {
            "type": "integer",
            "format": "int32"
          },
          "kmEntrada": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ECargoFuncionario": {
        "type": "integer"
      },
      "EStatusOrcamento": {
        "type": "integer"
      },
      "EStatusOrdemServico": {
        "type": "integer"
      },
      "ETipoItemOrdemServico": {
        "type": "integer"
      },
      "LoginBodyRequest": {
        "required": [
          "cpf",
          "senha"
        ],
        "type": "object",
        "properties": {
          "cpf": {
            "type": "string"
          },
          "senha": {
            "type": "string"
          }
        }
      },
      "NullableOfEStatusOrdemServico": {
        "type": "integer",
        "default": null
      },
      "ResponderOrcamentoBodyRequest": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/EStatusOrcamento"
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "Insira apenas o token JWT (sem a palavra Bearer)",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "Bearer": [ ]
    }
  ],
  "tags": [
    {
      "name": "Autenticacao"
    },
    {
      "name": "Cliente"
    },
    {
      "name": "Funcionario"
    },
    {
      "name": "ItensOS"
    },
    {
      "name": "Monitoramento"
    },
    {
      "name": "Orcamento"
    },
    {
      "name": "OrdemServico"
    },
    {
      "name": "Pecas"
    },
    {
      "name": "Veiculo"
    }
  ]
}