MSSQL_SA_PASSWORD=TroqueEstaSenha@12345
APP_DB_PASSWORD=TroqueEstaSenhaDoUsuarioApp@12345
JWT_SECRET_KEY=troque-esta-chave-por-uma-chave-aleatoria-com-mais-de-32-bytes
ASPNETCORE_ENVIRONMENT=Development
SQL_HOST_PORT=14330